{% extends 'base.html' %}
{% block style %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple_styles.css') }}">
{% endblock %}
{% block title %}Cash flows calculator{% endblock %}

{% block content %}
    <div style="margin-top: 20px;">
        <div style="display: flex; justify-content: center;">
        <div style="width: 100%;">
            <div style="text-align: center;">
            <h1>Cash flows calculators</h1>
            </div>
        </div>
        </div>
    </div>
  
    
    <div style="margin-top: 30px;">
        <div style="display: flex; justify-content: center;">
          <table style="width: 100%; margin-left: 50px; margin-right: 50px;">
            <tr>
              <th style="text-align: left;">Calculator</th>
              <th style="text-align: left;">Description</th>
              <th style="text-align: left;">Link</th>
              <th style="text-align: left;">Articles</th>
            </tr>
            <tr>
              <td>Basic cash flows calculator</td>
              <td>Calculate annuities (e.g. mortgage), recurring deposits etc, share the results with a person/community of trust</td>
              <td><a href="./CF">7cows.io/CF</a></td>
              <td>
                <a title="Solve Usury" href="https://7cows.substack.com/p/solve-usury">[1]</a>
                <a title="Ideal Mortgage Calculator" href="https://7cows.substack.com/p/the-ideal-mortgage-calculator">[2]</a>                
              </td>
            </tr>
            <tr>
              <td>Credit Cards portfolio optimization</td>
              <td>Optimize your credit cards (or loans in general) payments by strategically repaying high-interest loans first while meeting minimal required payments</td>
              <td><a href="./CC">7cows.io/CC</a></td>
              <td><a title="Credit card portfolio optimization" href="https://7cows.substack.com/p/credit-card-portfolio-optimization?r=3bt0qf&utm_campaign=post&utm_source=7cows&utm_medium=web&triedRedirect=true">[1]</a></td>
            </tr>
          </table>
        </div>
      </div>
      
      
      
{% endblock %}
{% block footer %}{% endblock %}